:root{
    --primary-color: rgb(8, 166, 228, 1 );
    --color-primary-shadow: rgb(7, 172, 230, .16);
    --color-redish: rgba(251, 59, 100, 1);
    --color-redish-1: rgba(235, 71, 110, 1);
    --color-light-pink: rgba(249, 4, 54, 0.16);
    --color-light-pink-2: rgba(255, 9, 17, 0.16);
    --color-green: rgba(85, 223, 180, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-light-black:rgba(19, 37, 59, 1);
    --color-grey-1: rgba(165, 165, 165, 1);
    --color-grey-2: rgba(149, 152, 154, 1);
    --color-grey-3: rgba(112, 112, 112, 1);
    --color-grey-4: rgba(232, 233, 237, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-blue: rgba(7, 172, 230, 1);

}

html, body {
    font-size: 16px;
     box-sizing: border-box;

}

.intro{}

.header{
   background-color: var(--color-white);
    box-shadow: 0 .1875rem .375rem #00000029;
    width: 100%;

}
.header .header__inner{
    max-width: 84.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}


.header .header__logo{
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Releway Light', sans-serif;
    font-weight: 300;

}

.menu{
    display:flex;
        }

.menu .menu__item.menu__item--active{
    color: var(--color-black);
    border-bottom-width: .25rem;
    border-bottom-color: var(--primary-color);
    border-bottom-style: solid;


}

.menu .menu__item{
    color: var(--color-grey-1);
    font-family: "Open Sans,Bold",sans-serif;
    font-size: .6875rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700 ;
    text-align: center;
    padding-top: 1.6875rem;
    padding-bottom: 1.75rem;
    padding-inline: .75rem;
    transition: all 200ms ease-in-out;
    margin-inline: 2.9375rem;



}

.hero{


}
.hero .hero__bg{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh;



}

.hero .hero__inner {
    max-width: 84.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-black);



 }

.hero .hero__hdl{
    font-family: "Releway,Regular", sans-serif;
    color: var(--color-black);
    font-size: 3.0625rem;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    margin-top: 8.125rem;
    margin-bottom: 1.25rem;



}
.hero .hero__lead{
    font-size: 1rem;
    font-family:'Open Sans',sans-serif ;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-black) ;
    text-align: center;
   line-height: 1.375rem;
    margin-bottom: 2.375rem;
    margin-top: 0;
    max-width: 65.375rem


}

.hero .hero__btn.btn.btn-large{
    background-color: var(--primary-color);
    border-radius: 2.5rem;
    min-width: 27.5rem;
    min-height: 2.9375rem;

}


.info{}
.info .info__hdl{}
.info .info__item{}
.info .info__box{}
.info .info lead{}
.info .info numb{}













